@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    --strawberry: #D8412F;
    --papaya: #FE7A47;
    --black: #262626;
    --grey: #797979;
    --milk: #ebebeb;
    --granola: #F5CA99;
}

body{
    background-color: var(--black);
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

hr{
    border: none;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #888 50%, transparent);
}



#loading{
    position: fixed;
    background: linear-gradient(45deg, var(--milk) 25%, transparent 25%, transparent 75%, var(--milk) 75%),
                linear-gradient(45deg, var(--milk) 25%, transparent 25%, transparent 75%, var(--milk) 75%);
    background-color: var(--black);
    background-size: 300px 300px;
    background-position: 0 0, 150px 150px;
    color: var(--papaya);
    inset: 0;
    display: grid;
    place-items: center;
    z-index: 30;
}

.loaded{
    opacity: 0;
    transition: all 0.7s;
    pointer-events: none;
    display: none;
}

.loading-text{
    font-size: 15px;
    width: 105px;
    overflow: hidden;
    animation: typing 0.8s steps(100);
}
@keyframes typing{
    from{
        width: 0px;
    }
}

@media (width>=769px){
    .loading-text{
        font-size: 100px;
        width: 650px;
        overflow: hidden;
        animation: typing 0.8s steps(100);
    }
}


header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 10;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.header-logo{
    margin-right: 100px;
}

header .header-list {
    padding: 0;
    list-style: none;
    display: flex;
}
.header-list li{
    margin-right: 30px;
}

header .header-list a{
    text-decoration: none;
    color: var(--papaya);
    &:hover{
        color: var(--papaya);
        transition-duration: 0.3s;
    }
}

@media (width>=769px){
    .header-container{
        margin: 0 50px;
    }
    .header-logo{
       margin-right: 1000px;
    }
    .header-list{
        font-size: 20px;
        gap: 40px;
    }
}

.hero{
    width: 100%;
    height: 650px;
    position: relative;
    color: var(--papaya);
}


.hero img{
    position: fixed;
    margin-top: 120px;
    opacity: 0.8;
    z-index: -1;
    transform: scale(90%);
}

.hero .hero-inner{
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.hero h2{
    font-size: 40px;

}

.hero h3{
    font-size:25px;
}

.hero-right{
    display: none;
}

.hero-left{
    display: none;
}

@media (width>=769px){
    .hero{
        width: 100%;
        height: 800px;
    }
    .hero img{
        position: fixed;
        opacity: 0.8;
        left: 20%;
        width: 100%;
        height: 800px;
        margin-top: 0px;
        z-index: -1;
    }
    .hero .hero-inner{
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }
    .hero h2{
        font-size: 100px;
    }
    
    .hero h3{
        font-size: 50px;
    }
    .hero-right{
        display: inline;
        writing-mode: vertical-rl;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 5px;
    }
    
    .hero-left{
        display: inline;
        writing-mode: vertical-rl;
        position: fixed;
        top: 47%;
        transform: translateY(-50%);
        text-orientation: sideways;
        left: 0;
        margin-left: 5px;
        transform: rotate(180deg);
    }
}

.illustrater{
    width: 90%;
    padding: 50px 0;
    color: var(--milk);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}

.illustrater h3{
    font-size: 30px;
    text-align: center;
    color: var(--papaya);
}

.illustrater-container{
    text-align: center;
}

.illustrater-container img{
    width: 300px;
    height: 300px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    object-fit: cover;
    filter: brightness(90%);
}

.illustrater-text{
    background-color: var(--black);
    width: 300px;
    height: 180px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.illustrater-text p{
    width: 250px;
    font-size: 11px;
}

.video{
    width: 90%;
    margin-top: 100px;
    padding: 50px 0;
    color: var(--milk);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}

.video h3{
    font-size: 30px;
    text-align: center;
    color: var(--papaya);
}

.video-container{
    text-align: center;
}


.video-container img{
    width: 300px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    filter: brightness(90%);
}

.video-text{
    background-color: var(--black);
    width: 300px;
    height: 180px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.video-text p{
    width: 250px;
    font-size: 11px;
}

.cg{
    width: 90%;
    margin-top: 100px;
    padding: 50px 0;
    color: var(--milk);
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
}

.cg h3{
    font-size: 30px;
    text-align: center;
    color: var(--papaya);
}

.cg-container{
    text-align: center;
}

.cg-container img{
    width: 300px;
    margin-top: 30px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition-duration: 1s;
    object-position: 40%;
}

.cg-text{
    background-color: var(--black);
    width: 300px;
    height: 180px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cg-text p{
    width: 250px;
    font-size: 12px;
}

@media (width>=769px){
    .illustrater{
        padding: 100px 0;
    }
    .illustrater-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 50px;
    }
    .illustrater-container img{
        width: 500px;
        height: 500px;
        margin: 0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
        object-fit: cover;
    }
    
    .illustrater-text{
        width: 500px;
        height: 500px;
        display: block;
        margin:  0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .illustrater-text p{
        width: 420px;
        font-size: 17px;
    }
    .video{
        padding: 100px 0;
    }
    .video-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 50px;
    }
    .video-container img{
        width: 500px;
        height: 500px;
        margin: 0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
        object-fit: cover;
    }
    
    .video-text{
        width: 500px;
        height: 500px;
        display: block;
        margin:  0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .video-text p{
        width: 373px;
        font-size: 17px;
    }

    .cg{
        padding: 100px 0;
    }

    .cg-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        margin-top: 50px;
    }

    .cg-container img{
        width: 500px;
        height: 500px;
        margin: 0;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0);
        object-fit: cover;
    }
    
    .cg-text{
        width: 500px;
        height: 500px;
        display: block;
        margin:  0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cg-text p{
        width: 380px;
        font-size: 18.5px;
    }
}

.collection{
    width: 100%;
    height: 650px;
    margin-top: 50px;
    color: var(--milk);
}

.collection-container{
    display: grid;
    grid-template-columns: 150px 150px;
    place-content: center;
    list-style: none;
    gap: 20px;
}

.card{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    &::before{
        content: attr(data-text);
        font-size: 10px;
        color: var(--milk);
        position: absolute;
        inset: 0;
        margin: auto;
        z-index: 1;
        display: grid;
        place-items: center;
        opacity: 0;
        transition-duration: 1s;
        width: 100%;
        height: 100%;
    }
    &:hover{
        box-shadow: 0px 16px 16px -2px rgba(0, 0, 0, 0.2);
        &::before{
            opacity: 1;
        }
        & img{
            scale: 1.2;
            filter: blur(2px) brightness(0.5);
        }
    }
}

.collection-container img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    transition-duration: 1s;
    vertical-align: bottom;
}

@media (width>=769px){
    .collection{
        width: 100%;
        height: 730px;
        margin-top: 50px;
    }
    .card{
        &::before{
            font-size: 17px;
        }
    }
    .collection-container{
        display: grid;
        grid-template-columns: 320px 320px 320px;
        place-content: center;
        list-style: none;
        gap: 70px;
    }
    .collection-container img{
        width:320px;
        height: 180px;
        object-fit: cover;
        box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
        vertical-align: bottom;
    }
}

.thanks{
    width: 100%;
    height: 300px;
    margin-top: 150px;
    color: var(--milk);
}

.thanks-container{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 300px;
    height: 180px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

@media (width>=769px){
    .thanks{
        width: 100%;
        height: 500px;
        margin-top: 100px;
    }
    .thanks-container{
        width: 800px;
        height: 400px;
        display: block;
        margin:  50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.profile{
    width: 100%;
    height: 600px;
    margin-top: 70px;
    color: var(--milk);
}

.profile-top{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--papaya);
}

.profile-logo{
    margin: 10px 0 0 40px;
}

.profile-text{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 300px;
    height: 180px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-skill{
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    width: 300px;
    height: 100px;
    display: block;
    margin:  50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (width>=769px){
    .profile{
        height: 700px;
    }
    .profile-container{
        position: relative;
    }
    .profile-top{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--papaya);
        margin: 0;
        position: relative;
        right: 200px;
        font-size: 20px;
    }
    .profile-logo{
        margin-left: 100px;
    }
    .profile-text{
        width: 800px;
        height: 400px;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    .profile-skill{
        width: 300px;
        height: 100px;
        display: block;
        margin:  50px auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        position: absolute;
        top: 10px;
        left: 750px;
    }
}

footer{
    background-color: var(--milk);
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: var(--black);
}

.motion-text{
    width: 100%;
    height: 165px;
    background-color: var(--milk);
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    margin: 100px 0;
    opacity: 0.9;
}
.text{
    color: var(--black);
    font-size: 100px;
    display: inline-block;
    white-space: nowrap;
    animation: scroll-text 10s linear infinite;
    line-height: 1;
}

@keyframes scroll-text {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-51%);
    }
}

@media (width>=769px){
    .motion-text{
        height: 250px;
    }
    .text{
        font-size: 150px;
    }
}



